body {
  background: black;
  font-family: sans-serif;
  color: #ddd;
  font-size: .9em;
}

.hyperscroll {
  width: 100%;
}

a {
  color: #f5f5f5;
}

.hyperscroll > .content {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.message {
  display: block;
  margin: .5em;
  background: #111;
  padding: .5em;
}

.message img {
  max-width: 100%;
}

.timestamp {
  float: right;
}

.avatar--small img {
  vertical-align: top;
  width: 1.4em;
  height: 1.4em;
  margin-right: .2em;
}

.emoji {
  width: 1.4em;
  vertical-align: top;
}

pre {
  width: 100%;
  display: block;
}

code {
  display: inline-block;
  vertical-align: bottom;
}

code, pre {
overflow: auto;
word-break: break-all;
word-wrap: break-word;
white-space: pre;
white-space: -moz-pre-wrap;
white-space: pre-wrap;
white-space: pre\9;
}

